.App {
  text-align: center;
}
body {
  background-color: lightblue; 
}

h1 {
  color: blue;
  text-decoration: underline;
}

p {
  font-size: larger;
  font-family: monospace;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: chartreuse;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  padding: 0.5px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

nav a.active {
  font-weight: bold;
  color: red;
  padding: 0;
  border: 2px solid rgb(26, 26, 25);
  font-size: 20px;
}

